contextlib2==21.6.0
defusedxml==0.7.1
docopt==0.6.2
imageio==2.31.3
lazy_loader==0.3
networkx==3.1
numpy==1.25.2
opencv-contrib-python==4.8.0.76
packaging==23.1
pandas==2.1.0
Pillow==10.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyWavelets==1.4.1
schema==0.7.5
scikit-image==0.21.0
scipy==1.11.2
six==1.16.0
tifffile==2023.8.30
tzdata==2023.3
