defusedxml==0.7.1
docopt==0.6.2
imageio==2.35.1
lazy_loader==0.4
natsort==8.4.0
networkx==3.3
numpy==2.1.0
opencv-contrib-python==4.10.0.84
packaging==24.1
pandas==2.2.2
pillow==10.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
schema==0.7.7
scikit-image==0.24.0
scipy==1.14.0
six==1.16.0
tifffile==2024.8.10
tzdata==2024.1
